*{
    font-size: 5vw;
}

body{
    display: flex;
    height: 100vh;
    width: 100wh;

}
.mainline{
    margin: 0 auto;
    align-self: center;
}

button{
    font-size bh5t6: 5vw;
}
